body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.menu-lateral {
    width: 250px;
    background-color: #2c3e50; /* Tom escuro para o menu */
    color: white;
    padding: 20px;
}

.menu-lateral h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    margin: 15px 0;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu-lateral ul li a:hover {
    background-color: #34495e; /* Tom mais escuro no hover */
}

.conteudo {
    flex: 1;
    padding: 20px;
}